<app-navbar></app-navbar>
<br>
<br>
<br>


<h1>Rejoignez la communauté</h1><br><br>
<p class="custom-paragraph">Échangez avec des patients experts. Ils s’en sont sortis. Pourquoi pas vous ?</p><br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
<div class="container">
            <div class="row">
                <div class="col-md-11 mt-60 mx-md-auto">
                    <div class="login-box bg-white pl-lg-5 pl-0">
                        <div class="row no-gutters align-items-center">
                            <div class="col-md-6">
                                <div class="form-wrap bg-white">
                                    <h4 class="btm-sep pb-3 mb-5">Vous avez un compte ?</h4>
                                    <form class="form" method="post" action="#">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group position-relative">
                                                    <span class="zmdi zmdi-account"></span>
                                                    <input type="email" id="email" class="form-control" placeholder="Identifiant ou adresse email">
                                                </div>
                                            </div><br><br><br>
                                            <div class="col-12">
                                                <div class="form-group position-relative">
                                                    <span class="zmdi zmdi-email"></span>
                                                    <input type="password" id="password" class="form-control" placeholder="Mot de passe">
                                                </div>
                                            </div><br><br><br>
                                            <div class="col-12 text-lg-right">
                                                <a href="#" class="c-black">Mot de passe oublié ?</a>
                                            </div><br><br><br>
                                            <div class="col-12 mt-30">
                                                <button type="submit" id="submit" class="btn btn-lg btn-custom  btn-block">IDENTIFIEZ-VOUS
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="content text-center">
                                    <div class="border-bottom  pb-5 mb-5 mt-5">
                                        <h3 class="c-black">Créez votre compte</h3><br><br><br>
                                        <P>En vous inscrivant à la communauté Addict’Aide vous accédez à un espace d’entraide et de discussion animé par nos patients experts. Vous y trouverez des infos, des témoignages et des conseils pour vous faire aider à réduire ou arrêter.</P><br><br><br>
                                        <a href="register" class="btn btn-custom">CREER UN COMPTE</a>
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>